@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
}

.font-mertel{
    font-family: 'Martel Sans', sans-serif;
}

.font-dm-serif{
    font-family: 'DM Serif Text', serif;
}

* {
    @apply font-["inter"]
}

html {
    scroll-behavior: smooth;
}

/* Custom ScrollBar */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 10px;
}