@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
}

*{
    @apply font-["inter"]
}

html {
    scroll-behavior: smooth;
}

/* Custom ScrollBar */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 10px;
}

