@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #103d3d;
    --color-secondary: #f8f5fd;
    --color-accent: #ff641c;
    --color-brand: #000080;
    --color-secondary-dark: #1a202c;
}

body,
.home {
    overflow-x: hidden;
}

body{
    @apply !font-['arial']
}

/* Custom ScrollBar */
*::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}

*::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4B5563 !important;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

.custom-scrollbar::-webkit-scrollbar{
    width: 3px !important;
}

/* Fancy Button from UIVerse */
.fancy {
    background-color: #ff641c;
    border: 1px solid black;
    box-sizing: border-box;
    color: var(--color-brand) !important;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1rem 1.8rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 10px;

    @apply max-sm:px-2 max-sm:pl-6 min-w-32;
}

.fancy::before {
    content: " ";
    width: 1.3625rem;
    height: 1px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fancy .top-key {
    height: 1px;
    width: 1.5625rem;
    top: -1px;
    left: 0.925rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 1px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -1px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 1px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -1px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: black;
}

.fancy:hover .text {
    color: black;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

/* Loader */
.loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
}

.loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--color-primary);
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 var(--color-accent), -35px 50px 0 var(--color-accent), -70px 95px 0 var(--color-accent);
    animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
    0% {
        transform: scale(1, 0.7);
    }

    40% {
        transform: scale(0.8, 1.2);
    }

    60% {
        transform: scale(1, 1);
    }

    100% {
        bottom: 140px;
    }
}

@keyframes loading-step {
    0% {
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 var(--color-accent),
            -35px 50px 0 var(--color-accent),
            -70px 90px 0 var(--color-accent);
    }

    100% {
        box-shadow: 0 10px 0 var(--color-accent),
            -35px 50px 0 var(--color-accent),
            -70px 90px 0 var(--color-accent),
            -70px 90px 0 rgba(0, 0, 0, 0);
    }
}

.text-shadow {
    text-shadow: 0px 0px 2px white;
}
.text-stroke {
    -webkit-text-stroke: 0.2px white;
}

/* Heading Text */
.heading {
    @apply text-3xl max-sm:text-xl font-['poppins'] mt-6 max-sm:mt-4;
}

/* Sub Heading Text */
.sub-heading {
    @apply max-sm:text-sm font-['poppins'] font-semibold;
}

/* Mask Images */
.mask {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 10% 90%, rgba(0, 0, 0, 0));
}

/* no-mask */
.no-mask {
    mask-image: none;
}

/* Fall Down Loader */
@keyframes loadingDots {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Style for the container and dots */
  .dots {
    display: inline-flex;
    gap: 0.1rem;
  }
  
  .dot {
    font-size: 1.5rem;
    animation: loadingDots 1.5s infinite;
    color: white;
  }
  
  .dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }