/* Create a blob animation */
@keyframes blob {
    0%,
    100% {
      border-radius: 40% 60% 50% 50% / 30% 30% 70% 70%;
      transform: translate(0, 0);
    }
    50% {
      border-radius: 60% 40% 50% 50% / 60% 40% 60% 40%;
      transform: translate(-10px, 20px);
    }
  }
  
  .blob {
    width: 80vw;
    height: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #38bdf8, #0ea5e9, #7dd3fc);
    opacity: 0.15;
    filter: blur(100px);
    animation: blob 15s infinite;
    z-index: -1;
  }
  