.carouselIndicator {
    width: 8px;
    height: 8px;
    transition: all 250ms ease;
    border: 2px solid var(--color-accent);
    background-color: transparent; 
}

.carouselIndicator[data-active] {
    width: 28px;
    background-color: var(--color-accent);
}